.service_container{
    display: grid;
    grid-template-columns:1fr 1fr;
    gap: 3rem;

}
.service{
    background: var(--color-bg-variant);
    /* padding: 0 3rem; */
    border-radius: 0.6rem 0.6rem 2rem 2rem;
    border: 2px solid var(--color-primary);
    height: fit-content;
    transition: var(--transition);
}
.service:hover{
    background: transparent;
    border-color: var(--color-primary-varient);
}
.service_list li{
    display: flex;
}
.service_head{
    background: var(--color-primary);
    padding: 2rem;
    border-radius: 0.5rem 0.5rem 2rem 2rem;
    text-align: center;

}
.service_list{
    padding: 2rem 2rem;
}

.service-icon{
    margin-top: 6px;
    color: var(--color-primary);
    margin-right: 6px;
   font-size: 1rem;
}
.service_list p{
    padding: 0.1rem 0.3rem;
    margin-bottom: 1rem;
    font-size: 0.9rem;
}  

/* Media Query for the resposive design */
/* this is for the medium Deviecs */
@media screen and (max-width: 1024px) 
 {
    .service_container{

        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
    .service{
        height: auto;
        /* margin: 1rem; */
    }
    
    /* .experince_container > div{

        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }
    .experince_content{
        padding: 1rem;
        grid-template-columns: 1fr;
    } */
}
/* For the Small Devices */

@media screen and (max-width:730px) {

    .service_container{

        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
}